*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

input{ 
    padding: 0 0.5rem;
    outline: none;
}
p, h1,h2,h3:hover{
    cursor: default;
}
button, i:hover{
    cursor: pointer;
}
:root{
    --Main: #FF6E00;
    --Primary: #FFFFFF;
    --Secondary: #EAE6e0;
    --Tertiary: #FFFFFF;
}


header, footer, .SectionSetting{
    background-color: var(--Main);
}
.hero , .benefits_section, .BenefitContainer, .section_contact, .SignBG,
.SectionBio, .sectonWhoWeAre, .sectionMission, .sectionHowWeOperate {
    background-color: var(--Primary);
}
.section_services, #secondBenefitContainer , .News,
 .Centrehub, .sectionAboutContact  {
    background-color: var(--Secondary);
}
button{
    background-color: var(--Tertiary);
    border: 2px solid black;
    font-weight: 600;
}
button:hover{
    background-color: var(--Main);
    font-weight: 600;
    transition: ease-in;
    
    font-size: 1.05rem;
}
.PaymentCard, .LoginSection .container .card, .SignSection .container .card, .OfferPrice, .cardContact, .backgroundcard{
    background-color: #FFA74F;
    border: 1px solid black;
}

header .container{
    position: sticky;
    width: 100%;
    padding: 20px;
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: space-between;
    align-items: center;
   
}

.Logo{
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    padding-right: 200px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    color: black;
}

#menu-btn{
    font-size: 35px;
    display: none;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover:before {
    width: 100%
}

.container{
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 0px solid tomato;
} 


.hero .container{
    display: flex;
    justify-content: space-between;
}
.hero_container{
    height: 100%;
}

.hero_card{
    padding-top: 4vh;
    width: 39vw;
   
}

.hero_image{
    width: 43vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    position: relative;
    height: 50vh;
}

.hero_header{
    font-size: 4rem;
    color: black;
    text-decoration: none;
    line-height: default;
    font-weight:900;
    width: 35vw;
    
}

.hero_text{
    display: flex;
    padding-top: 20px;
    
    width: 33vw;
}

.hero_btn{
    margin: 20px;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    
}

.hero_btn button{
    width: 12vw;
    height: 7vh;
    border-radius: 7px;
    border-width: 1px;

}

.hero_text p{
    font-size: 22px;
    line-height: 5vh;
}

.servicesContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#OurServices{
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    padding: 1rem;
}

.DivServices{
    border: 2px solid var(--Main);
    background-color: var(--Tertiary);
    width: 18vw;
    height: auto;
    margin-bottom: 1rem;
}

.serviceSubTitle{
    text-align: center;
    padding: 7px;
}

.DivServices p{
    padding-left: 7px;
}


#UMB{
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    padding: 10px 0;
    padding-bottom: 1rem;
}

.BenefitContainer .container{
    display: flex;
    justify-content: space-between;
}

.BenefitContainer .container .text_container{
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-right: 7rem;
    margin: 0 0rem;
}

#secondBenefitContainer .container .text_container{
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0 0rem;
}

.text_container h1{
    padding-bottom: 20px;
    color: var(--Main);
}

.text_container ul li{
    padding-top: 10px;
    margin-left:20px
}


.CircleImage{
    width: 20vw;
    height: 40vh;
    float: left;
    border-radius: 50%;
    border: 2px solid #211C1D;
    margin: 0 3rem;
}
.firstBenefitContainer .CircleImage{
    border: 0px solid beige
}

.News .container{
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.News .container h2{
    text-align: center;
}

.backgroundcard{
    width: 44vw;
    margin: 0 auto;
    height: auto;
    border-radius: 4rem;
    
}

.DivNews{
    margin-bottom: 0rem;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

#NewsEmail{
    height: 2rem;
    width: 14rem;
    border-radius: 8px;
    border: 1px solid black;
    margin: 0.5rem 0;
}

.DivNews button{
    border-radius: 8px;
    border-width: 1px;
    height: 2rem;
    width: 5rem;
    margin: 0.5rem;
    margin-left: 2rem;
    
}
/*Footer Page*/
footer{
    min-height: 15vh;
}

footer .container hr{
    border: 1px solid black;

}

.topfooter{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.socials{
    font-size: 1.7rem;
    padding-top: 7px;
    
}

.socials i{
    padding: 0 9px;
}

.footlinks{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#T_C{
    display: flex;
    justify-content: space-between;
    width: 19vw;
    
}

#T_C a{
    text-decoration: none;
    color: black;

}

/*ContactPage*/

.section_contact .container{
    justify-content: center;
    display: flex;
    align-items: center;
}

.cardContact{
    width: 50%;
    height: auto;
    margin: 30px 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 17px;
}

.contactTitle{
    font-size: 30px;
    font-weight: 700;
    padding: 10px 0;
   
}

.wording{
    font-size: 20px;
    padding-top: 30px;
}

.cardpadding{
    padding-left: 3rem;
    
}

.contacter{
    width: 92%;
    height: 2.7rem;
    margin-top: 30px;
    border-radius: 7px;
    border-width: 1px;
}

.contactermessage{
    height: 8rem;
    width: 92%;
    
    margin-top: 30px;
    border-radius: 7px;
    border-width: 1px;
}

.contactermessage::placeholder{
    text-align: left;
    padding-left: 20px;
}

.contacter::placeholder{
    text-align: left;
    padding-left: 20px;
}

.cardContact button{
    width: 9rem;
    height: 2rem;
    margin: 0.6rem 0;
    border-radius: 6px;
    border-width: 1px;
}

.helpHeader{
    font-size: 32px;
    padding-top: 20px;
}

.Divhelp{
    display: flex;
    width: 100%;
   
    height: 160px;
    justify-content: space-between;
}
.HelpDiv1{
    width: 50%;
}

.Imgquestion{
    width: 30%;
    display: block;
    margin-bottom: 1rem;
    position: relative;
    left: -30;
    bottom: 10;
    
}

.HelpPar{
    font-size: 26px;
    padding-top: 16px;
}

.Divhelp .HelpDiv1 button{
    width: 180px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.ContactAddress{
    font-size: 20px;
    padding-top: 10px;
}

/*SignUp*/
.SignSection .container{
    justify-content: space-between;
    display: flex;
}
.DetailsDivContainer{
    width: 45%;
    height: auto;
    height: 100vh;
}
.MemOptionContainer{
    width: 45%;
}
.OfferPrice{
    margin: 4Vh 0;
    padding: 0.5rem 0;
    border-radius: 9px;
    height: auto;
}

.OfferPrice hr{
    border: 1px solid var(--Main);
    padding: 0;
}

.itemPrice{
    background-color: var(--Primary);
    margin: 0.8rem auto;
    border-radius: 9px;
   
    width: 90%;
}
/**/
 
.OfferPrice {
    list-style-type: none;
    padding: 0 auto;
    width: 90%;
    height: auto;
  }
  
.OfferPrice li {
    height: auto;
    padding: 0 0.5rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
  
.OfferPrice input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
.OfferPrice input[type="radio"] {
    cursor: pointer;
    opacity: 0.01;
    z-index: 100;
}
.OfferPrice input[type="radio"]:checked+.itemPrice,
.Checked+.itemPrice {
    border-width: 3px;
    border-color: var(--Main);
    box-shadow: 0.2rem 0.2rem 1rem 0 var(--Main);
}

.OfferPrice .itemPrice {
    border: 1px solid var(--Main);
    z-index: 90;
}
  
.itemPrice:hover {
    background: #DDD;
}


/**/

.itemPrice .memPrice{
    width: 95%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border-radius: 9px;
    background-color: #ffff;
    padding: 0 1rem;
    padding-top: 0.3rem;
    margin: 0.5rem 0.5rem;
}

.itemPrice .memData p{
    padding: 0 0.8rem;
    line-height: 1.8;
}
.memData hr{
    padding: 0;
    margin: 0;
}

.form{
    margin: 0 2.5vw;
}

.SignSection .container .card{
    width: 90%;
    height: 100%;
    max-height: 82vh;
    margin: 4vh auto;
    margin-right: 3em;
    justify-content: center;
    border-radius: 9px;
    margin-bottom: 1rem;
}

.SigninHeader{
    font-size: 26px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: 600;
}
.SocialsLoginOption a{
    color: black;
}

.card .form .UserDetails{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.input{
    height: 5vh;
    width: 100%;
    padding-bottom: 0px;
    font-size: 1rem;
    text-align: left;

    border-radius: 7px;
    border-width: 1px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    margin: 0;
    display: none;
}
.error{
    display: block;
    background-color: tomato;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
.divButton{
    display: flex;
}
.btnLoginOption, .btnLoginOption p:hover{
    cursor: pointer;
}
.btnLoginOption{
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    justify-content: space-evenly;
    width: 10rem;
    height: 3rem;
    border: 1px solid black;
    background-color: #ffff;
    outline: none;
    border-radius: 1.5rem;
}
.btnLoginOption .fa-facebook-f{
    color: blue;
    font-size: 1.5rem;
}
.btnLoginOption .fa-google{
    color: red;
    font-size: 1.5rem;
}
.fa-angle-down{
    flex: right;
    align-items: center;
    font-size: 2rem;
    margin: 0 0.5rem;
    visibility: hidden;
}
.SignButton{
    margin: 0 auto;
    width: 40%;
    height: 7vh;
    margin-top: 1rem;
    border-radius: 7px;
    border-width: 1px;
}
.SocialsLoginOption a{
    text-decoration: none;
}
.SocialsLoginOption{
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0;
   
}
.AlreadyLogged{
    margin-top: 0.5rem;
    width: 100%;
}
.AlreadyLogged a{
    color: var(--Tertiary);
    text-decoration: none;
}
#Login{
    text-align: center;
}
.UserDetails #Message label{
    z-index: 1111;
    opacity: 1;
}
.PaymentCard{
    border-radius: 9px;
    width: 90%;
    margin-bottom: 1rem;
    
}
.paymentcard .form .inp{
    width: 100%;
    margin: 0rem auto;
    margin-bottom: 0;
    width: 100%;
    height: 5vh;
    font-size: 1rem;
    text-align: left;
    outline: none;
    border-radius: 7px;
    border-width: 1px;
}
.paymentcard .form .miniForm{
    display: flex;
    justify-content: space-between;
}
.flForm{
    margin-top: 0.5rem;
}
.flForm:first-child{
    padding-top: 0.5rem;
}
.paymentcard .form .miniForm .InputContainer{
    width: 45%;
    margin: 0.5rem 0;
    display: block;
}

.paymentcard .form .miniForm .InputContainer input{
    width: 100%;
    height: 5vh;
    
    font-size: 1rem;
    outline: none;
    border-radius: 7px;
    border-width: 1px;
}


/*LoginPage*/
#LoginPage header .container .navbar a:last-child, 
#SignUpPage header .container .navbar a:last-child{
    display: none;
}
.LoginSection .container .card .LoginHeader{
    font-size: 26px;
    margin: 1.5rem 0;
    font-weight: 600;
}
.LoginSection .container{
    height: 73%;
}
.LoginSection .container .card{
    width: 40%;
    height: auto;
    max-height: auto;
    padding-bottom: 2px;
    margin: 5vh auto;
    justify-content: center;
    border-radius: 17px;
}

.password{
    display: flex;
    padding: 0.2rem;
    margin: 1rem 0;
    margin-bottom: 0;
    justify-content: space-between;
}

.device{
    display: flex;
    padding: 0.2rem;
    margin: 1rem 0;
    margin-bottom: 0;
}

.forgot{
    text-decoration: none;
    text-align: right;
   
}
.LoginSection .container .card .DivButton{
    margin: 1rem 0;
    margin-top: 0;
}
#createAccount{
    margin: 1rem auto;
    text-align: center;
}
.RememberCheckbox{
    margin-right: 1rem;
}

/*PolicyMaker Page*/
.SectionPrivacyPolicy .Container, 
.SectionTermsCondition .Container,
.SectionDisclosure .container{
    border: none;
    border-left: 3px solid black;
    border-right: 3px solid black;
   /*comment*/
}

.PolicyMakerHeader{
    background-color: var(--Main);
    border-bottom: 3px solid black;
    height: 10vh;
}
.PolicyMakerHeader .container{
    border: none;
    height: 10vh;
}
.PolicyMakerHeader .container .Logo{
    text-align: center;
    display: flex;
    margin: 0 auto;
    place-items: center;
    
}

/*About Page*/


.cardWhoWeAre{
    background-color: var(--Tertiary);
    width: 60%;
    padding: 1rem;
    border: 2px solid black;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}
.sectionWhoWeAre{
    background: url(backimage.png);
}
.sectionWhoWeAre .container{
    height: 85%;
    display: flex;
    align-items: center;
}
.cardWhoWeAre p{
    text-align: center;
    align-items: center;
    font-size: x-large;
}
.AboutHeader{
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    padding: 1rem;
}
.containerCardWhoWeAre h1{
    font-size: 5rem;
    padding-top: 0;
}
.MissionContainer{
    border: 0px solid purple;
    width: 40%;
}
.cardMission{
    border: 0px solid #56453E;
    background-color: var(--Tertiary);
    align-items: center;
    display: flex;
    height: auto;
    padding: 0.5rem;
    margin: 0.7rem 0;
    border-radius: 0.7rem;
}
.MissionImage{
    padding: 0.5rem 0;
    border: 0px solid black;
    width: 55%;
    height: 100%;
}
.MissionImage img{
    position: relative;
    border-radius: 0.7rem;
    width: 100%;
}
.cardMission p{
    
    text-align: center;
    
    font-size: 1.5rem;
}
.MissionBox{
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.sectionAboutContact .container .ContactContainer{
    display: flex;
    justify-content: space-between;
}
.divAboutContact, .cardAboutContact{
    border: 0px solid black;
    width: 50%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}
.cardAboutContact{
    display: flex;
    align-items: center;
}
.cardAboutContact .backgroundcard{
    width: 90%;
    align-items: center; 
}
.backgroundcard h2{
    text-align: center;
}
.sectionAboutContact .container .divAboutContact p, .sectionAboutContact .container .divAboutContact button{
    font-size: 1.5rem;
    text-align: center;
    
}
#contactpage, #infoEmail, #contactPhoneNumber{
    outline: none;
    border-radius: 7px;
    border: 1px solid black;
    padding: 0.2rem;
    width: auto;
}
.AboutCard{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.AboutCard p{
    text-align: center;
    font-size: 1.5rem;
}

/*Profile Page*/

.SettingContainer{
    display: flex;
    justify-content: space-between;   
    height: 4rem;
}
.SettingContainer .Logo{
    align-items: center;
    margin: auto 0;
 
}
.LevelStats {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    width: 30%;
   
}
.Profile_Wrap .container{
    display: flex;
    height: 100vh;
    justify-content: space-between;
}
.BioContainer{
    width: 40%;
    height: 100%;
    border: 0px solid purple;
}
.ProgressContainer{
    width: 55%;
    height: 100%;
    border: 0px solid green;
}
.atUsername{
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 0.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.pfInfo{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.SettingLast{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 0.5rem;
}
.Tabs_Option{
    width: 35%;
    justify-content: space-between;
    display: flex;
}
.Setting{
    width: 15%;
    text-align: right;
}
.SettingLast .Setting i{
    font-size: 1.5rem;
}
.BioContainer .pfpBox{
    height: 30%;
    width: 40%;
    margin: 0.5rem auto;
}

.BioContainer .pfpBox img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    place-items: center;
    display: flex;
    margin: 0 auto;
}
.AboutUserContainer{
    width: 100%;
}

.ClashedDIV{
    display: flex;
    height: auto;
}
.BioStatement{
    margin: 1rem auto;
    text-align: center;
    word-wrap: wrap;
    padding: 0 0.5rem;
}
.FollowContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0.5rem auto;
    padding: 0 0.5rem;
}
.FollowCard b{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}
.FollowCard p{
    font-size: 1rem;
}
.FollowCard b{
    font-size: 1.3rem;
}
.btnTrack{
    height: 15%;
}
.btnTrack button{
    border-width: 1px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    align-items: center;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    height: 50%;
    width: 60%;
}
.ProgressContainer hr{
    color: black;
}
.progressday{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
    margin: 0.5rem 0;
}
.progressday .streakday h3{
    display: flex;
}
.progressday .Reward_Gift{
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    justify-content: space-between;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: #FFD580;
    
}
.progressday .streakday{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
}
.progressday .streakday i{
    font-size: 1.8rem;
    margin-right: 0.5rem;
    color: orange;
}
.progressday .Reward_Gift i{
    font-size: 1.5rem;
}
.ProgressData{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.ProgressMiniCard{
    Background-color: lime;
    width: 45%;
    border-radius: 1rem;
    margin: 0.5rem 0;
}
.ProgressMiniCard p{
    text-align: center;
    margin: 0.2rem;
    font-weight: 600;
    font-size: 1.3rem;
}
.CourseSection{
    place-items: center;
    display: flex;
    justify-content: space-between;
}
.CourseCard{
    background-color: yellow;
    margin: 1rem 0;
    padding: 0.5rem;
    width: 45%;
    height: 18rem;
    border-radius: 0.5rem;
}
.CourseImage{
    width: 95%;
    height: 70%;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: tomato;
}
.CourseCard h3, .CourseCard p{
    text-align: center;
    margin: 0.3rem auto;
}


/*Media Queries*/

@media (max-width: 1536px) {
    .container{
        max-width: 1280px;
    }
    .PolicyMakerHeader .container .Logo{
        padding: 0 3rem;
    }
}

@media (max-width: 1280px) {
    .container{
        max-width: 1024px;
    }
    .cardContact{
        width: 60%;
    }
    .LevelStats{
        width: 40%;
    }
    .progressday .streakday{
        width: 20%;
    }
    .DetailsDivContainer .card .form{
        height: 130vh;
        max-height: 160vh;
    }
    .OfferPrice{
        height: 95%;
    }
    .MemOptionContainer, .DetailsDivContainer{
        height:140vh;
    }
}

@media (max-width: 1024px) {
    .container{
        max-width: 768px;
    }
    .hero_header{
        line-height: 0.8;
    }
    .hero_text p{
        line-height: 1;
    }
    

    .HeroSectionImage img{
        width: 33vw;
        height: 50vh;
        right: 0rem;
        text-align: right;
        position: relative;
    }

    .section_services .container .servicesContainer{
        align-items: flex-start;
        flex-wrap: wrap;
        
    }
    .DivServices{
        width: 45%;
        margin-bottom: 1rem;
    }

    
    .DivServices .ServiceSubTitle{
        font-size: 1.3rem;
        font-weight: 800;
    }

    .DivServices p{
        font-size: 1rem;
    }
    .BenefitContainer{
        justify-content: center;
    }
    .BenefitContainer .text_container{
        width: 60vw;
    }
    #T_C{
        width: 30vw;
    }

    /*SignUp Page*/
    .SignSection .container{
        display: contentl
    }
    .DetailsDivContainer, .MemOptionContainer{
        height: auto;
    }
    .LoginSection .container .card{
        width: 55%;
    }
    .SignSection .container .card{
        width: 100%;
        max-height: 100vh;
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 1rem;
    }
    .SignSection .container .OfferPrice{
        display: content;
        width: 100%;
        height: auto;
        
    }
    .OfferPrice{
        margin-left: 0em;
    }
    /*.SignSection .container{
        flex-direction: row-reverse;
    }*/
    .memData{
        display: content;
    }
    .btnLoginOption{
        width: 45%;
    }
    

    /**/

    .CircleImage{
        margin-top: 4%;
    }
    .BenefitContainer .container .text_container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #secondBenefitContainer .container .text_container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .backgroundcard{
        margin-top: 1rem;
    }
    .LevelStats{
        width: 55%;
    }
    .progressday .streakday{
        width: 30%;
    }
    
    .BioCard, .AboutUserContainer, .CourseCard{
        width: 70%;
    }
    .cardWhoWeAre{
        width: 80%;
    }
    .sectionWhoWeAre .container{
        height: 80%;
    }
    .containerCardWhoWeAre h1{
        font-size: 3rem;
    }
    .SectionMission .container{
        height: auto;
    }
    .MissionBox{
        height: 100%;
        display: inherit;
    }
    .MissionImage{
        margin: 0 auto;
        width: 80%;
    }
    .AboutCard{
        margin-bottom: 1rem;
        width: 90%;
    }
    .MissionContainer{
        width: 80%;
        margin: 0 auto;
        display: inherit;
    }
    .cardMission{
        height: auto;
    }
    .SectionAboutContact .container .ContactContainer{
        display: inherit;
    }
    .divAboutContact, .cardAboutContact{
        margin: 0 auto;
        width: 90%;
    }
    
}

@media (max-width: 768px) {
    .container{
        max-width: 648px;
    }
    .hero_header{
        text-align: left;
        font-size: 5rem;
    }
    .hero_card{
        width:100%;
    }

    .hero_text{
        width: 100%;
    }   
    .HeroSectionImage img{
        display: none;
    }
    
    .hero_btn{
        width: 45vw;
    }

    .hero_btn button{
        width: 20vw;
        height: 8vh;
    }
   
    .CircleImage{
        margin-top: 12%;
        width: 20vw;
        height: 35vh;
    }
    .backgroundcard{
        width: 75%;
    }
    .cardContact{
       width: 72%;
    }
    .navbar{
        display: none;
    }
    #menu-btn{
        display: block;
        padding-right: 14px;
    }
    
    .SettingContainer .Logo, .SettingLast div{
        width: 20%;
    }
    .AboutUserContainer, .FollowContainer, .ProgressData, .CourseSection{
        width: 100%;
    }
    .JobForHireContainer{
        display: none;
    }
    .CentreHubContainer{
        display: contents;
    }
    /*SignUp Page*/
    .MemOptionContainer{
        width: 50%;
    }
    .SocialsLoginOption{
        justify-content: space-between;
        margin-top: 0.5rem;
    }
    .itemPrice{
        width: 90%;
    }
    .AlreadyLogged{
        width: 80%;
        margin: 0 auto;
    }
    .OfferPrice{
        width: 45%;
    }
   

}

@media (max-width: 648px) {
    .container{
        max-width: 475px;
    }
    .hero_header{
        font-size: 3rem;
    }
    .hero_image{
        display: none;
    }
    .Logo{
        padding-right: 0;
    }
    #T_C{
        width: 50vw;
    }
    .CircleImage{
        opacity: 0.1;
        z-index: -1;
        display:none;
    }
    .backgroundcard{
        width: 100%;
        background-color: white;
    }
    
    .cardContact{
        width: 92%;
     }
    .LoginSection .container .card{
        width: 80%;
        max-height: auto;
    }
    .ProgressMiniCard p:first-child{
        font-size: 1rem;
    }
    .ProgressMiniCard p{
        font-size: 0.8rem;
    }
    .BioContainer .pfpBox{
        width: 35%;
    }
    .progressday .streakday{
        width: 45%;
        
    }
    .cardpadding{
        padding: 0 1rem;
    }
    #xp{
        display: none;
    }
    /*SignUp Page*/
    .SignSection .container{
        flex-direction: none;
        display: block;
    }
    .DetailsDivContainer, .MemOptionContainer{
        margin: 0 auto;
        width: 100%;
    }
    
    .SignSection .container .card, .SignSection .container .OfferPrice, .PaymentCard{
        width: 80%;
        margin: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .fa-angle-down{
        visibility: visible;
        margin: auto 1rem;
    }
    .PaymentCard{
        margin-bottom: 0;
    }
    /*About Page*/
    .cardWhoWeAre{
        width: 100%;
    }
    .sectionWhoWeAre .container{
        height: 100%;
        max-height: auto;
        padding-top: 0.5rem;
    }
    .containerCardWhoWeAre h1{
        font-size: 2.3rem;
    }
    .SectionMission .container{
        height: auto;
        
    }
    .MissionBox{
        padding: 0;
        height: 100%;
        display: inherit;
    }
    .MissionImage{
        margin: 0 auto;
        width: 100%;
        margin-bottom: 1rem;
    }
    .AboutCard{
        width: 100%;
    }
    .MissionContainer{
        width: 100%;
        margin: 0 auto;
        display: inherit;
    }
    .cardMission{
        height: auto;
    }
    .SectionAboutContact .container .ContactContainer{
        display: inherit;
    }
    .divAboutContact, .cardAboutContact, .cardAboutContact .backgroundcard{
        margin: 0 auto;
        width: 100%;
    }
   
    

}

@media (max-width: 475px) {
    .container{
        width: 340px;
    }
    #UMB{
        font-size: x-large;
    }
    .DivServices{
        width: 95%;
    }
    
    .socials i{
        font-size: 25px;
        padding: 0 1px;
    } 
    
    .footlinks{
        display: contents;
    }
    #T_C{
        width: 100%;
    }
    .LoginHeader{
        font-size: 22px;
        font-weight: 700;
        width: 100%;
        margin-bottom: 0.6rem;
    }
    #LoginPage body{
        position: relative
    }
    .LoginSection .container{
        height: 90vh;
        padding-bottom: 2rem;
    }
    .LoginSection .container .card{
        width: 90%;
        
        margin-top: 0;
    }
    .FollowContainer{
        flex-wrap: nowrap;
        
    }
    .LevelStats {
        justify-content: space-between;
    }
    .LevelStats p:first-child{
       visibility: hidden;
    }
    .LevelStats progress{
        height: 60%;
        align-items: right;
        place-items: right;
    }
    .BioContainer .pfpBox{
        width: 30%;
    }
    .atUsername, .settinglast div i{
        font-size: 1.2rem;
    }
    .FollowCard b{
        font-size: 0.8rem;
    }
    .FollowCard p {
        font-size: 0.7rem;
    }
    .BioContainer .pfpBox img{
        height: 80%;
    }
    .progressday .streakday{
        width: 60%;
    }
    .progressday .Reward_Gift{
        width: 15%;
    }
    .Reward_Gift p, .MissionImage{
        display: none;
    }
    .SectionMission .container{
        height: 100%;
    }
    .cardContact{
        margin-left : 0;
        margin-right: 0;
        width: 100%;
    }
    .cardpadding{
        padding: 0 0.5rem;
    }
    .imgquestion{
        display: none;
    }
    .Divhelp{
        height: 28vh;
    }
    .HelpDiv1{
        width: 100%;
        height: auto;
    }
    .helpHeader, .Divhelp{
        text-align: center;
        justify-content: center;
    }
    .contacter, .contactermessage, .cardpadding .Contactbtn{
        width: 100%;
    }
    .SignSection .container .card, .SignSection .container .OfferPrice, .PaymentCard{
        width: 100%;
    }
    .ContactContaine .divAboutContact{
        font-size: 0.7rem;
    }
    .divNews{
        display: inherit;
    }
    .divNews #NewsEmail, .divNews button{
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }
    .divNews button{
        align-items: center;
        text-align: center;
        padding: 0 4.25rem;

    }
    
}

@media (max-width: 340px) {
    .container{
        width:100%;
    }
    #UMB{
        font-size: large;
    }
    .LoginHeader{
        font-size: 18px;
    }

    .LoginSection .container .card{
        width: 80%;
        max-height: 80vh;
        
    }
} 